// sub03.scss

#wrap{width: 100%; height: auto; background-color: #e3e2e2;
    #head{width: 100%; height: 202px; background-color: #b0d015;
    >#top{width: 960px; height: 42px; background-color: #b0d015; margin: 0 auto;}
        .go_home{width: 100px; height: 100%; float: left;
            a{height: 100%; line-height: 42px; display: block; color: #444;}
            i{height: 100%; line-height: 42px; font-size: 20px;}
        }// .go_home
        ul{width: 450px; height: 42px; float: right; margin-right: 20px;
        .sitemap{width: 150px; height: 100%; float: left; text-align: center;
            &:hover{background-color: #ddd;}
            a{line-height:42px;}
        }// .sitemap
        .login{width: 150px; height: 100%; float: left; text-align: center;
            &:hover{background-color: #ddd;}
            a{line-height:42px;}
        }// .login
        .join{width: 150px; height: 100%; float: right; text-align: center;
            &:hover{background-color: #ddd;}
            a{line-height:42px;}
            }// .join
        }// ul
        #logo{width: 100%; height: 160px; margin: 0 auto; background-color: #e3e2e2;
            a{width: 100%; height: 100%; display: block; background-image: url(../img/main_logo.png); background-repeat: no-repeat;
            background-position: center center; display: block;}
        }// #logo
    }// #head
    #arti{width: 960px; height: auto; margin: 0 auto;
        .nav{width: 100%; height: 42px; z-index: 500;
        ul{width: 100%; height: 100%; float: left;
        .nav01{width: calc(100% / 4); height: 100%; float:left; background-color: #b0d015;
            a{line-height: 42px; display: block; text-align: center; color: #757575;}
            &:hover{background-color: #ddd;
                a{color: #757575;}
                }// &:hover
            >ul{display: none;}
            li{background-color: #b0d015; 
                a:hover{background-color: #ddd;}
                }// li
            }// .nav01
        .nav02{width: calc(100% / 4); height: 100%; float:left;
                background-color: #b0d015;
            a{line-height: 42px; display: block; text-align: center; color: #757575;}
            &:hover{background-color: #ddd;}
            >ul{display: none;}
            li{background-color: #b0d015; 
                a:hover{background-color: #ddd;}
                }// li
            }// .nav02
        .nav03{width: calc(100% / 4); height: 100%; float:left;
                background-color: #757575;
            a{line-height: 42px; display: block; text-align: center; color: #fff;}
            &:hover{background-color: #ddd;
                a{color: #757575;}
                }// &:hover
            >ul{display: none;}
            li{background-color: #b0d015; 
                a:hover{background-color: #ddd;}
                }// li
            }// .nav03
        .nav04{width: calc(100% / 4); height: 100%; float:left; background-color: #b0d015;
            a{line-height: 42px; display: block; text-align: center; color: #757575;}
            &:hover{background-color: #ddd;}
            >ul{display: none;}
            li{background-color: #b0d015; z-index: 500; 
                a:hover{background-color: #ddd;}
                }// li
            }// .nav04
        }// ul
    }// .nav
    h1{width: 100%; height: 34px; margin-top: 90px;
        .title_box{width: 250px; height: 26px; float: left; border-bottom: 6px solid #b0d015;
            .title{width: auto; height: auto; color: #b0d015; font-size: 26px; float: right; margin-right: 14px; font-weight: bold;}
        }// .title_box
        .location{width: auto; height: auto; float: right; font-size: 14px;
            .home{float: left; margin-right: 4px; color: #000;}
            .p01{float: left; margin-right: 4px;}
            .gdday{float: left; margin-right: 4px; color: #000;}
            .p02{float: left; margin-right: 4px;}
            .loca_last{float: left;}
        }// .location
    }// h1
    #event{width: 100%; height: auto; margin-top: 78px; margin-bottom: 140px; 
        #nav{width: 100%; height: 55px; margin-bottom: 80px;
            ul{width: 450px; height: 100%; margin-left: 255px; margin-right: 255px;
                .btn_ing{width: 200px; height: 100%; margin-right: 50px; background-color: rgba(#f9a, 0.4); float: left; cursor: pointer; color: #5c5858; font-size: 20px;  text-align: center; line-height: 55px;
                    &:hover{background-color: rgba(#a3a1a1, 0.8); color: #fff;}
                }// .btn_ing
                .btn_fin{width: 200px; height: 100%; background-color: rgba(#f9a, 0.4); float: left; cursor: pointer; color: #5c5858; font-size: 20px;  text-align: center; line-height: 55px;
                    &:hover{background-color: rgba(#a3a1a1, 0.8); color: #fff;}
                }// .btn_fin
            }// ul
        }// #nav
        #content_ing{width: 100%; height: 380px;
            .event01{width: 656px; height: 170px; margin-left: 152px; margin-right: 152px; background-color: rgba(#fff, 0.7); border: 1px solid #a3a0a0; margin-bottom: 40px;
                .inline{width: 620px; height: 134px; margin-top: 18px; margin-left: 18px; float: left;
                    a{width: 338px; height: 100%; margin-right: 18px; background-image: url("../img/event01.jpg"); float: left; display: block;
                        &:hover{background-image: url("../img/hover_event01.jpg");}
                    }// a
                    .inform{width: 264px; height: 100%; float: left; color: #5c5858; line-height: 26px;}
                }// .inline
            }// .event01
            .event02{width: 656px; height: 170px; margin-left: 152px; margin-right: 152px; background-color: rgba(#fff, 0.7); border: 1px solid #a3a0a0; 
                .inline{width: 620px; height: 134px; margin-top: 18px; margin-left: 18px; float: left;
                    a{width: 338px; height: 100%; margin-right: 18px; background-image: url("../img/event02.jpg"); float: left; display: block;
                        &:hover{background-image: url("../img/hover_event02.jpg"); display: block;}
                    }// a
                    .inform{width: 264px; height: 100%; float: left; color: #5c5858; line-height: 26px;}
                }// .inline
            }// .event02
        }// #content_ing
        #content_fin{width: 100%; height: 990px; display: none;
            ul{width: 622px; height: 100%; margin: 0 auto;
                li:nth-child(odd){width: 284px; height: 130px; padding-top: 10px; float: left; margin-right: 50px; margin-bottom: 30px;}
                li:nth-child(even){width: 284px; height: 130px; padding-top: 10px; float: right; margin-bottom: 30px;}
                li:nth-last-child(2){width: 284px; height: 130px; padding-top: 10px; float: left; margin-right: 50px;}
                li:nth-last-child(1){width: 284px; height: 130px; padding-top: 10px; float: right;}
                .img{width: 264px; height: 90px; margin: 0 10px 5px 10px; border: 1px solid #777;}
                p{width: 264px; height: 25px; margin: 0 10px 10px 10px; font-size: 14px;}
                .event01>.img{background-image: url("../img/fin_event/fin_event01.jpg");}
                .event01>p{}
                .event02>.img{background-image: url("../img/fin_event/fin_event02.jpg");}
                .event02>p{}
                .event03>.img{background-image: url("../img/fin_event/fin_event04.jpg");}
                .event03>p{}
                .event04>.img{background-image: url("../img/fin_event/fin_event03.jpg");}
                .event04>p{}
                .event05>.img{background-image: url("../img/fin_event/fin_event05.jpg");}
                .event05>p{}
                .event06>.img{background-image: url("../img/fin_event/fin_event06.jpg");}
                .event06>p{}
                .event07>.img{background-image: url("../img/fin_event/fin_event07.jpg");}
                .event07>p{}
                .event08>.img{background-image: url("../img/fin_event/fin_event08.jpg");}
                .event08>p{}
                .event09>.img{background-image: url("../img/fin_event/fin_event09.jpg");}
                .event09>p{}
                .event10>.img{background-image: url("../img/fin_event/fin_event10.jpg");}
                .event10>p{}
                .event11>.img{background-image: url("../img/fin_event/fin_event11.jpg");}
                .event11>p{}
                .event12>.img{background-image: url("../img/fin_event/fin_event12.jpg");}
                .event12>p{}
            }// ul
        }// #content_fin
    }// #event
    }// #arti
    #foot{width: 100%; height: 84px; background-color: #bfbfbf;
    .footLogo{width: 150px; height: 100%; float: left; margin-left: 184px;
        >a{width: 120px; height: 50px; display: block; background-image: url("../img/foot_logo_gray.png");  margin-top: 20px; margin-left: 20px; background-repeat: no-repeat;}
    }// .footLogo
    .footBox{width:590px; height: 100%; float: left; font-size: 12px; color: #6b6b6b; margin-left: 10px;
        .info{width: auto; height: auto; margin-top: 20px; float: left;
            .a01{float: left; color: #000;}
            .p01{float: left; margin: 0 8px;}
            .a02{float: left; color: #000;}
            .p02{float: left; margin: 0 8px;}
            .a03{float: left; color: #000;}
            .p03{float: left; margin: 0 8px;}
            .a04{float: left; color: #000;}
            .last{color: 999; margin-top: 4px;}
        }// .info
    }// .footBox
    .iconBox{width: 174px; height: 100%; float: left; margin-left: 16px;
        i{margin-top: 17px; margin-left: 10px;}
        .icon01>i{font-size: 44px; float: left;
            &:hover{color: #189}
            }// i
        .icon02>i{font-size: 44px; float: left;
            &:hover{color: #189}
            }// i
        .icon03>i{font-size: 44px; float: left;
            &:hover{color: #189}
            }// i
        }// .iconBox
    }// #foot
}// #wrap


















